@import url("./globalStyles.css");

.buttons {
  align-items: center;
}

#home__btn {
  width: 250px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.user-name {
  width: 250px;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--boxShadow-button);
  font-size: 0.9rem;
}

.user-name:focus {
  outline: 1px solid var(--blue-color);
}
